<ion-view title="Add New Item" id="page11" ng-controller="addNewItemCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <!-- <button class="button button-positive icon-left ion-ios7-camera" ng-click="takePicture()">Camera</button> -->

                <input type="file" ng-model="userFile">
            </label>
            <label class="item item-input">
                <span class="input-label">tags</span>
                <input type="text" placeholder="tags" ng-model="userTags">
            </label>
        </form>
        <div class="button-bar"></div>
        {{userTags}}
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image upload-preview" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
{{userFile}}

    </ion-content>
</ion-view>