<ion-view title="Collections" id="page3" ng-controller="collectionsCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Catagorey Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <form class="list" >
            <label class="item item-select" name="Catagorey Filter">
                <span class="input-label">Filter</span>
                <select>

                        <ion-list>
                            <option ion-option  ng-repeat="tag in tags">
                                {{tag.category}}
                            </option ion-option >
                        </ion-list>

                </select>
            </label>
        </form>


    <ion-list  ng-repeat="image in images">
        <div class="list card">
            <div class="item item-divider">
                {{ image.tag }}<span> {{image.id}}</span>
            </div>
            <div class="item item-image">
                <img ng-src="img/{{ image.path }}">
            </div>
        </div>
    </ion-list>

    </ion-content>
</ion-view>