<ion-view title="Collections" id="page3" ng-controller="collectionsCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Catagorey Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <form class="list" >
            <label class="item item-select"  name="Catagorey Filter" for="mySelect">
                <span class="input-label">Filter</span>
                <select ng-model="q">
                        <ion-list>
                            <option ion-option  ng-repeat="tag in tags" value="{{tag.category}}">
                                {{tag.category}}
                            </option ion-option >
                        </ion-list>

                </select>
            </label>
        </form>

    <ion-list  ng-repeat="item in items | filter:q as results">
        <div class="list card">
            <div class="item item-divider">
                <ul>
                    <li  ng-repeat="tag in item.tag ">{{tag}}</li>
                </ul>
                <span class="pull-right"> {{item.id}}</span>
            </div>
            <div class="item item-image">
                <img ng-src="img/{{ item.path }}">
            </div>
        </div>
    </ion-list>

    </ion-content>
</ion-view>