<ion-view title="Home" id="page1">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">

		<div class="row">
	<div class="col ion-bowtie logo center" data-pack="default" data-tags="tie, shirt, dress, clothing" style="display: inline-block;">

			</div>
		</div>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row">
			<div class="col">
				<a ui-sref="login" id="login-button" class="button   button-clear button-fullwidth">Log in</a>
			</div>
			<div class="col">
	            <a ui-sref="signup" id="signup-button" class="button   button-clear button-fullwidth">Or create an account</a>
			</div>
        </div>

    </ion-content>
</ion-view>