<ion-view title="Profile" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">New Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Repeat Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>